.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Qsand;
  src: url(./assets/fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: QsandBold;
  src: url(./assets/fonts/static/Quicksand-Bold.ttf);
}
@font-face {
  font-family: QsandSemiBold;
  src: url(./assets/fonts/static/Quicksand-SemiBold.ttf);
}
@font-face {
  font-family: QsandLight;
  src: url(./assets/fonts/static/Quicksand-Light.ttf);
}
html {
  font-size: 67.5%;
}
body {
  font-family: Qsand, Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  animation: 0.5s ease-in opacityIn;
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-top: 40px;
}

.contenedor {
  max-width: 85%;
  margin: 0 auto;
  position: relative;
}

.cartWidget {
  width: 50px;
  height: 50px;
  padding-top: 15px;
  position: relative;
  top: 10%;
}
.navegacion {
  font-size: 1.5vw;
  padding: 10px 0 4px 0;
  background-color: whitesmoke;
  color: whitesmoke;
  text-decoration: none;
  width: 90%;
  /* margin: auto; */
  position: relative;
  font-family: QsandSemiBold;
  border-radius: 15px 15px 0 0;
  animation: 0.8s opacityIn;
}
.navegacion.navbar-toggler {
  border-radius: 40%;
}
.navbar-collapse {
  background-color: whitesmoke;
  color: #1e5594;
  margin-top: 5px;
}
.navbar-collapse ul {
  justify-content: center;
}
.nav-link {
  opacity: 1;
  padding-top: 0;
  color: #1e5594;
  font-family: QsandSemiBold;
}
.nav-link:hover {
  color: #2883c7;
}
.dropdown-menu {
  background-color: whitesmoke;
  opacity: 0.95;
  max-width: 200px;
  border-radius: 15px;
  z-index: 1001;
}
.dropdown-menu a {
  position: relative;
  color: #1e5594;
  width: 155px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  transform-origin: bottom left;
  font-size: 1.5vw;
}
.dropdown-menu a:hover {
  background-color: transparent;
}
.dropdown-menu li:hover a {
  font-weight: bold;
  padding: 3px;
  font-size: 2.4vw;
  animation-duration: 2s;
  color: #2883c7;
}

.buscador {
  z-index: 999;
}
.btnBuscar {
  background-color: #1e5594;
  color: #9dc9e0;
  font-weight: bold;
  z-index: 999;
  border: #1e5594;
}
.btnBuscar:hover {
  background-color: #2883c7;
  color: #c6e9fc;
  transition-duration: 0.5s;
}
.navbar-toggler-icon {
  margin: 3px;
}

.navegacion.noBanner {
  border-radius: 15px;
}